body {
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Times New Roman', Times, serif, sans-serif;
}

h1 {
    color: #00e6e6;
    font-size: 3rem;
}
